.contacts {
}

.contacts__wrapper {
  padding: 38px 30px 62px 29px;
}

.contacts__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 28px 0;
}

.contacts__email {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 30px;
}

.contacts__email span {
  padding-right: 30px
}

.contacts__email a {
  color: #444444;
  text-decoration: none;
}

.contacts__address {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  display: flex;
}

.contacts__address span {
  padding-right: 35px
}

.contacts__map {
  width: 100%;
  height: auto;
  display: block;
}

.contacts__button-wrap {
  padding: 42px 30px 39px;
}
