.product-week {
  padding: 31px 30px 42px;
}

.product-week__subtitle {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 3px 0;
}

.product-week__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0 0 17px 0;
}

.product-week__text {
  font-size: 15px;
  margin-bottom: 28px;
}

.product-week__list {
  display: grid;
  grid-template-columns: 38% 62%;
  grid-row-gap: 20px;
  font-size: 15px;
  line-height: 20px;
}

.product-week__list dd {
  margin: 0;

}
